* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 2vw;
  width: 100%;
}

.wrapper {
  margin: 2vw;
}

.header {
  text-align: center;
}

.physicist {
  padding: 1vw;
}

.name {
  margin: 1vw 0px;
}

.portrait {
  display: inline-block;
  height: 20vw;
  border: solid #404040 0.2vw;
  border-radius: 10px;
}

.image_left {
  float: left;
  margin-right: 7px;
}

.image_right {
  float: right;
  margin-left: 7px;
}

