body {
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 500px;
}

.card {
  background-color: rgb(104, 135, 142);
  color: ghostwhite;
  padding: 15px;
  margin: 15px;
}

.card_image {
  float: left;
  margin-right: 15px;
  max-width: 150px;
}

.card_title {

}

.card_text {
  padding-left: 165px;
}

.card:after {
  content: '';
  display: block;
  clear: both;
}


